body {
	background-color: white;
	background-image:  url(princess_pattern.png);
	background-position: center;
	background-repeat:repeat;
	background-size:  auto;
	font-family: 'Merriweather', serif;
}

.bg_img{
	
	background-image: url(princess_jellyfish.png); 
    	background-attachment: fixed;
    	background-position: bottom;
	background-repeat: no-repeat;
	background-size:  1300px;
	z-index: -1;
	width: 1300px;
	height: 874px;
	margin: 200px 0 0 0px;
}

/* unvisited link */
a:link {
    color: #FF78BC;
    text-decoration: none;
    background-color: white;
}

/* visited link */
a:visited {
    color: #E65EA2;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(255,255,255);
    text-decoration: none;
}

/* selected link */
a:active {
    color: #FFB6C1;
    text-decoration: none;
}



.bio {
	height: 650px;
	background-color: white;
	padding: 5px;
	float: left;
	margin-top: 40px;
	line-height: 150%;
	z-index: 2;
}


.empty {
	height: 370px;
}


.title {
	font-family: 'Varela Round', sans-serif;
	font-size: 36px;
	color: #FF78BC;
	background-color: rgba(255,255,255,1.0);
	z-index: 2;
}
